@charset "utf-8";
*{margin: 0;padding: 0;}
html{font-size: 100px;height: 100%}
body{font-size: 20px;height: 100%;}
a{text-decoration: none;color: #666;}
li{list-style: none}
.share{height: 100%;}
.container{font-size: .3rem;position: fixed;top: 0;left: 0;width: 100%;z-index:10}
.header{height: .56rem;width: 100%;background: #ce3d3e;color: #fff;font-size: .2rem;box-sizing: border-box;padding-left:.56rem;line-height: .56rem;position: relative}
.logo{height: .56rem;position: absolute;left: 0;top: 0;}
.tabbar{width: 100%;font-size: .16rem;display: flex;display:-webkit-flex;background: #fff;z-index: 2}
.tabbar .active{color: #ce3d3e;border-bottom-color: #ce3d3e}
.tabbar li{box-sizing: border-box;border-bottom: .02rem solid transparent;height: .48rem;line-height: .46rem;text-align: center;flex-grow: 1;-webkit-flex-grow: 1}

.hello{position: absolute;left: 0;top:0;width: 100%;height: 100%;}
.hello img{width: 100%;height: 100%;}

.tabcontainer{margin-top: 1.04rem}
.swiper-container{width: 100%;height: 1.48rem}
.swiper-container img{width: 100%}
.sheet{padding:.1rem;}
.sheet .title{height: .35rem;line-height: .35rem;font-size: .16rem;}
.songsheet{display: flex;display:-webkit-flex;flex-wrap: wrap;width: 100%;-webkit-flex-wrap: wrap}
.songsheet .item{width: 30%;margin:0 1.5% .16rem 1.5%;font-size: .16rem;position: relative;}
.songsheet .item p{display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow: hidden;padding: 6px 2px 0 6px;line-height: 1.2;font-size: 13px;}
.songsheet .item img{width: 100%;}
.songsheet .item .common{height: .2rem;text-align: right;color: #fff;position: absolute;top: 0;left: 0;background: rgba(0,0,0,.5);width: 100%;}

.back{height: .4rem;line-height: .4rem;color: #fff;background: #ce3d3e;position: fixed;top: 0;left: 0;width: 100%;}
.allsongs{font-size: .2rem;font-weight: bold;}
.songlist-top{box-sizing: border-box;padding: 30px 10px 30px 15px;position: relative;overflow: hidden;}
.songlist-top .title{width: 100%;height: .3rem;color: #fff;position: relative;z-index: 1;top: -.2rem;left: -.1rem}
#goback{width: .4rem;height: .4rem;vertical-align: middle;}
.songlist-top::after{display: block;visibility: hidden;clear: both;height: 0;overflow: hidden;content: "."}
.songlist-top .blbg{background: url("../images/defaultbg.jpg");background-size: cover;background-position: center;width: 100%;height: 100%;position: absolute;left: 0;top: 0;filter: blur(20px);transform: scale(1.5)}
.songlist-top .cvr{width: 126px;height: 126px;position: relative;float: left;background: url("../images/default_cover.png") no-repeat center;background-size: cover;}
.cvr .tag{position: absolute;z-index: 3;top: 10px;left: 0;padding: 0 8px;height: 17px;color: #fff;font-size: 9px;text-align: center;line-height: 17px;background-color: rgba(217,48,48,.8);border-radius: 0 9999px 9999px 0;}
.songlist-top .cnt{margin-left: 145px;position: relative;}
.songlist-top .cnt::after{display: block;visibility: hidden;clear: both;height: 0;overflow: hidden;content: ".";}
.songlist-top .cnt h2{padding-top: 10px;font-size: 17px;line-height: 1.3;word-break: break-all;color: #fff;display: -webkit-box;-webkit-line-clamp:2;overflow: hidden;-webkit-box-orient: vertical;font-weight: normal;}
.songlist-top .cnt .art{display: block;position: relative;margin-top: 20px;font-size: 14px;color: rgba(255,255,255,.7);overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.songlist-top .cnt .art img{width: 30px;height: 30px;border-radius: 50%;vertical-align: middle;margin-right: 5px;background: url("../images/user-default.png") no-repeat center;background-size: cover;}

#songlist{padding-left: .3rem;margin-bottom: .5rem}
#songlist li{border-bottom: 1px solid #ccc;position: relative;height: .56rem}
#songlist li img{width: .25rem;height: .25rem;position: absolute;right: .1rem;top:.05rem;cursor: pointer;}
#songlist li .index{width: .35rem;height: .56rem;position: absolute;left: -.32rem;top: 0;text-align: center;font-size: .17rem;color: #999;line-height: .56rem;}


.songname{font-size: .16rem;padding: 8px 60px 0 0;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;line-height: 1.4;}
.ar{font-size: .12rem;color: #888;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}


.singing{font-size: .16rem;height: .5rem;width: 100%;background: rgba(255,255,255,.9);position: fixed;bottom: 0;left: 0;box-sizing: border-box;padding: 5px;}
.singing::after{display: block;height: 0;clear: both;visibility: hidden;overflow: hidden;content: "."}
.singing .songpic{width: .4rem;height: .4rem;float: left;margin-right: .1rem;}
.singing .info{float: left;}
.singing .info h4{font-size: 14px;color: #333;font-weight: normal;}
.singing .info .ar{font-size: 12px;color: #999;}

#playbtn{width: .5rem;height: .5rem;position: absolute;right: 0;top: 0;background-size: cover;outline: none;border: none;}
.singing .music_play{background-image: url("../images/pause.png")}
.singing .music_pause{background-image: url("../images/play.png")}
/* 进度条 */
.jindutiao{width: 100%;height: 5px;background: #ccc;position: absolute;bottom: 0;left: 0;}

.songWrap{height: 100%;width: 100%;position: relative;overflow: hidden;}
.songbg{position: absolute;left: 0;right: 0;top: 0;bottom: 0;background-position: 50%;background-repeat: no-repeat;background-size: auto 100%;transform: scale(1.5);transform-origin: center top;-webkit-transform-origin:center top;-webkit-transform:scale(1.5);z-index: -1;filter: blur(20px);}
.disco{width: 96px;height: 137px;position: absolute;left: 179px;top: 0;background: url("../images/needle.png");background-size: contain;z-index: 5;transition: all 1s linear;transform-origin: 0 0;}
.songimg{position: absolute;left: 10%;top: 10%;z-index: 1;border-radius: 50%;overflow: hidden;background: url("../images/disc_default.png");background-size: contain;animation: circling 20s infinite linear;width: 296px;height: 296px; }
.si{width: 184px;height: 184px;position: absolute;left: 50%;top: 50%;border-radius: 50%;overflow: hidden;margin: -94px 0 0 -94px;}
.si img{width: 100%;vertical-align: middle;}
@keyframes circling {
    0%{transform: rotate(0deg)}
    100%{transform:rotate(1turn)}
}