<section class="songlist-top">
    <div class="title">
        <img src="images/seq.png" id="goback" onclick="router('tab')">
        <span>歌单</span>
    </div>
    <div class="blbg"></div>
    <div class="cvr">
        <img src="">
        <span class="tag">歌单</span>
    </div>
    <div class="cnt">
        <h2></h2>
        <a href="#" class="art">
            <img src="" class="avade"><span></span>
        </a>
    </div>
</section>

<ol id="songlist">

</ol>

<div class="songtemplate" style="display: none">
    <li>
        <div class="index"></div>
        <div class="songname"></div>
        <div class="ar"></div>
        <img src="images/gz1.png" >
    </li>
</div>