<div class="fashion">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="images/banner1.jpg"></div>
            <div class="swiper-slide"><img src="images/banner2.jpg"></div>
            <div class="swiper-slide"><img src="images/banner3.jpg"></div>
            <div class="swiper-slide"><img src="images/banner4.jpg"></div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>

    <div class="sheet">
        <p class="title">推荐歌单</p>
        <div class="songsheet">
        </div>
    </div>
</div>

<!--模板-->
<div id="template" style="display: none">
    <div class="item">
        <a href="#" onclick="router('detail')">
            <div class="common">200</div>
            <img src="images/18557557255401002.jpg">
            <p></p>
        </a>
    </div>
</div>